.pinterest_logo {
    font-family: 'Mochiy Pop One', sans-serif;
}

.pinterest_footer_btn {
    font-size: .6rem;
}

.pinterest_footer {
    text-align: center; margin-top: 2rem;
}

.pinterest_header {
    text-align: center; margin: 2rem 0;
}